<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Poco" allowDefinition="MachineToApplication" allowExeDefinition="MachineToApplication" allowLocation="false"
                    type="PocoConfig.PocoSection`1[[PocoConfig.Tests.SimplePoco, PocoConfig.Tests, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]], PocoConfig, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>

  <Poco AnAttribute="Hello">
    <AnElement>Element value!</AnElement>
  </Poco>
</configuration>